<div class="row">
   <div class="col-md-6">
    <h3>Day 1 (Feb 6 - ET)</h3>
    <table class="table table-striped">
       <tr> <td>11:30</td>  <td>Office Hour</td> </tr>
       <tr> <td>12:00</td>  <td><a href="https://swcarpentry.github.io/python-novice-inflammation/">Programming with Python</a> & <a href="http://swcarpentry.github.io/r-novice-inflammation//">Programming with R</a></td> </tr>
       <tr> <td>14:00</td>  <td>END (Programming with R)</td> </tr>
       <tr> <td>15:00</td>  <td>END (Programming with Python)</td> </tr>
    </table>
  </div>
   <div class="col-md-6">
    <h3>Day 2 (Feb 7 - ET)</h3>
    <table class="table table-striped">
      <tr> <td>11:00</td>  <td>Office Hour</td> </tr>
      <tr> <td>12:00</td>  <td><a href="https://carpentries-incubator.github.io/geospatial-python/">Geospatial Programming in Python </a> & <a href="http://swcarpentry.github.io/r-novice-inflammation//">Programming with R</a></td> </tr> 
       <tr> <td>14:00</td>  <td>END (Programming with R)</td> </tr>
       <tr> <td>15:00</td>  <td>END (Programming with Python)</td> </tr>
    </table>
   </div>
    <div class="col-md-6">
    <h3>Day 3 (Feb 8 - ET)</h3>
    <table class="table table-striped">
      <tr> <td>12:00</td>  <td><a href="https://carpentries-incubator.github.io/geospatial-python/">Geospatial Programming in Python</a> #2</td> </tr>
      <tr> <td>15:00</td>  <td>END</td> </tr>
      <tr> <td>12:00</td>  <td><a href="http://swcarpentry.github.io/r-novice-inflammation//">Programming with R</a></td> </tr>
      <tr> <td>14:00</td>  <td>END</td> </tr>
    </table>
  </div>
   </div><div class="col-md-6">
    <h3>Day 4 (Feb 13 - ET)</h3>
    <table class="table table-striped">
      <tr> <td>12:00</td>  <td><a href="https://swcarpentry.github.io/shell-novice/">The Unix Shell</a></td> </tr>
      <tr> <td>15:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 5 (Feb 14 - ET)</h3>
    <table class="table table-striped">
      <tr> <td>11:00</td>  <td>Office Hour</td> </tr>
      <tr> <td>12:00</td>  <td><a href="https://swcarpentry.github.io/git-novice/">Version Control with Git</a></td> </tr>
      <tr> <td>13:30</td>  <td>BREAK</td> </tr>
      <tr> <td>15:00</td>  <td>END</td> </tr>
    </table>
 </div>   
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
